<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>    
    <ion-title>Add Beer</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="white-background" padding>
  <h2 *ngIf="!formSubmittedSuccess">{{breweryName}}</h2>
  <div *ngIf="!formSubmittedSuccess">
    <ion-list *ngIf="noBreweryIncluded">
      <ion-item>
        <ion-searchbar (ionInput)="doSearchBrewery($event)"
                      debounce="1000"
                      placeholder="Enter Brewery Name">
        </ion-searchbar>    
      </ion-item>
      <button ion-item *ngFor="let result of brewerySearch" (click)="setBrewery(result)" text-wrap>
        <ion-thumbnail item-left>
          <img *ngIf="result.images" [src]="result.images.icon">
        </ion-thumbnail>
        <h2 class="loc-name">{{result.name}}</h2>
        <p *ngIf="result.locations.length > 1">
          {{result.locations.length}} locations
        </p>
        <ion-icon name="add-circle" item-right></ion-icon>
      </button>
      <ion-item *ngIf="!breweryFound">
        <div align="center">
          <h2>No Brewery Found.</h2>
        </div>
      </ion-item>      
    </ion-list>
    <div *ngIf="!noBreweryIncluded">
      <form [formGroup] = "beerForm" (submit)="addBeer()">
        <ion-list>
          <ion-item>
            <ion-label fixed>Beer Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            <span class="required"item-right>*</span>
          </ion-item>
          <ion-item>
            <ion-label fixed>Style</ion-label>
            <ion-select formControlName="style">    
              <ion-option *ngFor="let option of beerStyles" value="{{option.id}}">
                {{option.shortName}}
              </ion-option> 
            </ion-select>
            <span class="required" item-right>*</span>
          </ion-item>
          <ion-item>
            <ion-label fixed>ABV</ion-label>
            <ion-input type="number" formControlName="abv"></ion-input>
            <span item-right>%</span>
          </ion-item>
          <ion-item>
            <ion-label>Description</ion-label>
            <span item-right>1500 Limit</span> 
          </ion-item>
          <ion-item>
            <ion-textarea maxlength="1500" rows="5" type="text" formControlName="beerDescription">
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label fixed>Bittering Unit</ion-label>
            <ion-input type="number" formControlName="ibu"></ion-input>
            <span item-right>IBUs</span>
          </ion-item>
          <ion-item>
            <ion-label fixed>Color (SRM)</ion-label>
            <ion-select formControlName="srm">    
              <ion-option *ngFor="let option of beerSRM" value="{{option.id}}">
                {{option.name}}
              </ion-option> 
            </ion-select>         
          </ion-item>
          <ion-item>
            <ion-label fixed>Orig. Gravity</ion-label>
            <ion-input type="number" formControlName="gravity" placeholder="1.000"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label fixed>Available In</ion-label>
            <ion-select formControlName="available">    
              <ion-option *ngFor="let option of beerAvailability" value="{{option.id}}">
                {{option.name}}
              </ion-option> 
            </ion-select>          
          </ion-item>
          <ion-item>
            <ion-label fixed>Glassware</ion-label>
            <ion-select formControlName="glassware">    
              <ion-option *ngFor="let option of glassware" value="{{option.name}}">
                {{option.name}}
              </ion-option> 
            </ion-select>        
          </ion-item>
          <ion-item>
            <ion-label fixed>Organic?</ion-label>
            <ion-select formControlName="organic">
              <ion-option value="N">No</ion-option>
              <ion-option value="Y">Yes</ion-option>
            </ion-select>
          </ion-item>                               
        </ion-list>
      </form>
    </div>
  </div>
  <div id="success-submit" *ngIf="formSubmittedSuccess" align="center">
    <h3>Beer Successfully Submitted!</h3>
    <p>
      The beer has been successfully added and is waiting to be approved by our administrators.
      Please allow 24 hours to process.
    </p>
    <button ion-button (click)="addAnother()">Add Another Beer?</button>   
  </div>
</ion-content>

<ion-footer>
  <button ion-button full (click)="addBeer()">
    ADD BEER
  </button>
</ion-footer>
