<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>{{locationName}} Reviews</ion-title>
    <ion-buttons right>			
        <button ion-button icon-only (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>		
  </ion-navbar>
</ion-header>
<ion-content>
<ion-content class="white-background">
	<div *ngIf="reviews">
    <ion-item *ngFor="let review of reviews" text-wrap>
      <p>{{review?.text}}</p>
    <div align="right" [hidden]="review.rating == 0">  	
      <rating [(ngModel)]="review.rating" readOnly="true" max="5"></rating>
    </div>
    <div align="right">
      <p>{{review.author_name}}</p>
      <p>{{review.relative_time_description}}</p>
    </div>          
    </ion-item> 	
	</div>
</ion-content>
