<ion-header>
  <ion-navbar color="primary">
		<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons [hidden]="isLookup" left>
			<button ion-button (click)="editProfile()">
				EDIT
			</button>
		</ion-buttons>
    <ion-buttons right [hidden]="isLookup">
       <button ion-button icon-only (click)="doSettings()">
           <ion-icon name="settings"></ion-icon>
       </button>            
    </ion-buttons>    
  </ion-navbar>
</ion-header>
<ion-content>
	<ion-item id="profile-avatar" color="check">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="repme" align="center" *ngIf="isLookup">
                      <button ion-button icon-only large clear (click)="repDown()">
                        <ion-icon color="white" name="thumbs-down"></ion-icon>
                      </button>
					</div>
				</ion-col>
				<ion-col>
					<div align="center">
						<ion-avatar item-right>
							<img [src]="profileIMG">
						</ion-avatar>
						<p>{{displayName}}</p>
					</div>
				</ion-col>
				<ion-col>
					<div class="repme" align="center" *ngIf="isLookup" (click)="repUp()">
                      <button ion-button icon-only large clear>
                        <ion-icon color="white" name="thumbs-up"></ion-icon>
                      </button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div *ngIf="isLookup && !sentFriendRequest && !userIsFriend" align="center">
			<button ion-button (click)="sendFriendRequest()">
				Send Friend Request
			</button>
				</div>
				<div *ngIf="isLookup && sentFriendRequest && !userIsFriend" align="center">
			<button ion-button>
				Request Sent
			</button>
		</div>
	</ion-item>
	<ion-item>
		<ion-label>
			Join Date
		</ion-label>
		<h2 item-right>{{joinedDate}}</h2>
	</ion-item>
	<ion-item>
		<ion-label>
			Total Points
		</ion-label>
		<h2 item-right>{{points}}</h2>
	</ion-item>
	<ion-item>
		<ion-label>
			Points This Month
		</ion-label>
		<h2 item-right>{{pointsByMonth}}</h2>
	</ion-item>
	<ion-item>
		<ion-label>
			Unique Beers Checked-In
		</ion-label>
		<h2 item-right>{{numOfUniqueBeers}}</h2>
	</ion-item>		
	<ion-item>
		<ion-label>
			Reputation
		</ion-label>
		<h2 item-right>{{reputation}}</h2>
	</ion-item>	
	<ion-item>
		<ion-label>
			Number Check-ins
		</ion-label>
		<h2 item-right>{{checkinCount}}</h2>
	</ion-item>
	<ion-item *ngIf="!isLookup">
		<ion-label>
			Email Verified
		</ion-label>
		<h2 *ngIf="isEmailVerified" item-right>Yes</h2>
		<button ion-button *ngIf="!isEmailVerified" item-right (click)="sendVerifyEmail()">
		  No. Send Verify Email
		</button>
	</ion-item>
	<ion-item *ngIf="uniqueBreweries" (click)="viewVisitedBreweries()">
		<ion-label>
			Brewery Checked-Ins ({{uniqueBreweries}})
		</ion-label>
		<ion-icon name="arrow-forward" item-right></ion-icon>
	</ion-item>		
	<button ion-item (click)="goToFavorites()">
		<ion-label>
			<ion-icon name="search"></ion-icon>
			Favorite Beers &amp; Locations
		</ion-label>
		<ion-icon name="arrow-forward" item-right></ion-icon>
	</button>
	<div *ngIf="checkinLen">
		<div class="card-head">
			<p><ion-icon name="person"></ion-icon>&nbsp;Recent Check-Ins</p>
		</div>		
		<div *ngFor="let check of checkins | async">
			 <checkin [checkin]="check"  page="users" [id]="uid"></checkin>
		</div>
	</div>
	<ion-infinite-scroll (ionInfinite)="getMoreCheckins($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll> 		
</ion-content>
