<ion-header>
  <ion-navbar color="primary">
    <ion-title>Beer Locations</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content class="white-background">
  <ion-card>
    <ion-card-header>{{beer.name}} Locations</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail item-left>
          <img [src]="beer?.labels.medium" />
        </ion-thumbnail>
        <h3>{{beer.name}}</h3>
        <p>{{beer?.breweries[0].name}}</p>
        <p>{{beer?.style.shortName}}</p>        
      </ion-item>
    </ion-card-content>
  </ion-card>
	<ion-item *ngFor="let location of locations | async" (click)="getLocation(location)" text-wrap>

			<ion-thumbnail item-left>
        <img *ngIf="placeIMGS[location.$key]" [src]='placeIMGS[location.$key]'>
			</ion-thumbnail>
      <h2>{{location.name}}</h2>
      <p>{{location.placeType}}</p>
      <p>{{location.address}}</p>
      <p>{{location.city}},{{location.state}}</p>
      <p>Last Seen: {{sing.getDateMonthDayYear(location.timestamp)}}</p>
      <p>Check-ins: <b>{{location.checkinCount}}</b> &#8226; {{distance[location.$key]}} miles</p>
	</ion-item> 
</ion-content>
