<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Brew Search</ion-title>
   <ion-buttons right>
       <button id="notification-button" ion-button icon-only (click)="showNotifications()">
           <ion-icon [color]="notifyColor" name="notifications">
             <ion-badge *ngIf="notifyCount" id="notifications-badge" color="check">{{notifyCount}}</ion-badge>
           </ion-icon>
       </button>            
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="background-home">
    <ion-row>
      <ion-col>
        <!--
        <div id="find-drinks-button" class="center">
          <button ion-button color="white" clear (click)="startSearch()">Search Beers &amp; Places</button>
        </div>
        -->
        <div id="city-select" class="right">
          <button *ngIf="sing.hasLocation()" right ion-button small color="dark" (click)="changeCity()">
            {{sing.getSelectCity()}}. Change?
          </button>
          <button *ngIf="!sing.hasLocation()" right ion-button small color="dark" (click)="changeCity()">
            Pick a City
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>          
    <button ion-item (click)="doSearch('beers')">
      <ion-label>
        <ion-icon name="beer"></ion-icon>
        Search Beers
      </ion-label>
       <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item (click)="doSearch('breweries')">
      <ion-label>
        <ion-icon name="pint"></ion-icon>
        Find Breweries
      </ion-label>
       <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item (click)="doSearch('locations')">
      <ion-label>
        <ion-icon name="locate"></ion-icon>
        Find Places Near Me
      </ion-label>     
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>    
    <button ion-item (click)="doSearch('bars')">
      <ion-label>
        <ion-icon name="happy"></ion-icon>
        Find Bars
      </ion-label>
       <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item (click)="randomBeers()">
      <ion-label>
        <ion-icon name="help-circle"></ion-icon>
        Random Beer
      </ion-label>
       <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>       
  </ion-list>
  <div class="card-head">
    <p><ion-icon name="people"></ion-icon>&nbsp;Upcoming Event</p>
  </div>
  <ion-card id="leaderboard" (click)="getBeerEventInfo()">
      <div align="center">
        <h2>Emerald Coast Beer Festival</h2>
        <p>Pensacola, FL USA &#8226; 9/8/2017</p>
      </div>      
      <ion-item text-wrap>
        <ion-thumbnail item-left>
        <img src='images/beerfest.png'>
        </ion-thumbnail>
        <p>
          There are seven different rooms and two courtyards, 
            each dedicated to its own unique style of entertainment. This is the best street party in Pensacola!    
        </p>
      </ion-item>
    <button ion-button full>View Event</button>
  </ion-card>
  <div class="card-head">
    <p><ion-icon name="trophy"></ion-icon>&nbsp;Leaderboard</p>
  </div>
  <ion-card id="leaderboard">
    <ion-card-content>
      <div align="center">
        <h2>Get on the Leaderboard</h2>
        <p>
           Check-in at bars, pubs, gas stations, and breweries to be ranked in the leaderboard.
           Scores are based on beers reported in the last 30 days.  
        </p>
      </div>    
    </ion-card-content>
    <button item-right ion-button full (click)="getLeaderboard()">View Leaderboard</button>
  </ion-card>

  <div class="card-head" *ngIf="mostPopularBeer">
    <p><ion-icon name="beer"></ion-icon>&nbsp;#1 Beer in {{sing.getSelectCity()}}</p>
  </div>
  <ion-card id="pop-beer" *ngIf="mostPopularBeer">
    <!-- <ion-card-header>{{sing.geoCity}}, {{sing.geoState}}</ion-card-header> -->
    <ion-card-content (click)="getPopBeer(mostPopularBeer.key)">
      <ion-item>
        <ion-thumbnail item-left>
          <img *ngIf="mostPopularBeer.beerLabelIcon" [src]="mostPopularBeer.beerLabelIcon">        
        </ion-thumbnail>
        <h2>{{mostPopularBeer.name}}</h2>
        <p *ngIf="mostPopularBeer.rating"><rating [(ngModel)]="mostPopularBeer.rating" readOnly="true" max="5"></rating></p>
        <p>{{mostPopularBeer.brewery}}</p>
        <p *ngIf="mostPopularBeer.style">{{mostPopularBeer.style}}</p>
        <p>Checked in {{mostPopularBeer.checkinCount * -1}} times</p>
      </ion-item>
    </ion-card-content>
     <button item-right ion-button full (click)="getAllPopBeers()">ALL Popular Beers</button>
  </ion-card>

  <div class="card-head" *ngIf="mostPopularLocation">
    <p><ion-icon name="compass"></ion-icon>&nbsp;#1 Place in {{sing.getSelectCity()}}</p>
  </div>
  <ion-card id="pop-location" *ngIf="mostPopularLocation">
    <!-- <ion-card-header>{{sing.geoCity}}, {{sing.geoState}}</ion-card-header> -->
    <ion-card-content (click)="getPopLocation(mostPopularLocation.key)">
      <ion-item>
        <ion-thumbnail item-left>
          <img *ngIf="mostPopularLocation.photo" [src]="mostPopularLocation.photo">        
        </ion-thumbnail>
        <h2>{{mostPopularLocation.name}}</h2>
        <p *ngIf="mostPopularLocation.rating"><rating [(ngModel)]="mostPopularLocation.rating" readOnly="true" max="5"></rating></p>
        <p>{{mostPopularLocation.placeType}}</p>
        <p>{{mostPopularLocation.address}}</p>
        <p>{{mostPopularLocation.city}}, {{mostPopularLocation.state}}</p>
        <p>Checked in {{mostPopularLocation.checkinCount * -1}} times</p>
      </ion-item>
    </ion-card-content>
    <button item-right ion-button full (click)="getAllPopLocation()">ALL POPULAR PLACES </button>
  </ion-card>

  <div class="card-head">
    <p><ion-icon name="trophy"></ion-icon>&nbsp;Challenges</p>
  </div>
  <ion-card id="achievement" *ngIf="achievement">
    <ion-card-content>
      <ion-item text-wrap>
          <ion-thumbnail item-left>
            <img [src]="achievement.img">
          </ion-thumbnail>
          <h3 id="challenge-label" class="center">{{achievement.name}}</h3>
          <p class="center">{{achievement.description}}</p>
      </ion-item>
    </ion-card-content>
     <button ion-button full (click)="seeAchievements()">See ALL achievements</button>
  </ion-card>
</ion-content>
