<ion-header>
  <ion-navbar color="primary">
    <ion-title>Beer</ion-title>  
  </ion-navbar>
</ion-header>
<ion-content>

<ion-item class="beer-info" text-wrap>
	<div *ngIf="!beerLoaded" align="center">
		<ion-spinner></ion-spinner>
	</div>
  <ion-thumbnail item-left *ngIf="beerLoaded">
	    <img *ngIf="beer.labels.medium" [src]="beer?.labels.medium" />
  </ion-thumbnail>
	<span item-left *ngIf="beerLoaded">
	    <b>{{beer?.name}}</b>
			<p *ngIf="beerRating"><rating [(ngModel)]="beerRating" readOnly="true" max="5"></rating></p>
	    <p>{{beer?.breweries[0].name}}</p>
	    <p>{{beer?.style.shortName}}</p>
	    <p>
	      <span *ngIf="beer?.abv!=null">{{beer?.abv}}% ABV</span> 
	      <span *ngIf="beer?.abv!=null && beer?.ibu!=null">&#9726;</span> 
	      <span *ngIf="beer?.ibu!=null">{{beer?.ibu}} IBU</span>
	    </p>
	    <p>{{beer?.available.description}}</p>
	</span>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
			<button class="btn" item-left block ion-button icon-left (click)="locateBeer()">
				<ion-icon name="pin"></ion-icon>
				LOCATE
			</button>
    </ion-col>
		<ion-col>
			<button class="btn" item-right block ion-button icon-left (click)='saveBeerToFavorites(beer?.id)'>
				<ion-icon name="heart"></ion-icon>
				SAVE
			</button>
		</ion-col>
  </ion-row>
</ion-grid>	
<button id="checkin-button" color="check" ion-button block full (click)='checkIn(beer)'>
	CHECK-IN
</button>
<ion-card (click)="getBrewery()">
  <ion-card-header>
    BREWERY
  </ion-card-header>
  <ion-card-content>
  <ion-grid *ngFor="let brewery of beer?.breweries">
    <ion-row>
      <ion-col width-33>
				<div align="center">
          <img [src]="brewery?.images.medium" />
				</div>
      </ion-col>
      <ion-col width-67>
				<div align="center">
					<h2>{{brewery.name}}</h2>
					<p>Established in {{brewery.established}}</p>
					<button ion-button>View More</button>
				</div>      
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card [hidden]="beer?.description == null">
  <ion-card-header>
    DESCRIPTION
  </ion-card-header>
  <ion-card-content>
  	 {{beer?.description}}
  </ion-card-content>
</ion-card>
<div *ngIf="checkinLen">
	<div class="card-head">
		<p><ion-icon name="people"></ion-icon>&nbsp;Recent Check-Ins</p>
	</div>
	<div *ngFor="let check of checkins | async">
			<checkin [checkin]="check" page="beers" [id]="beerId"></checkin>
	</div> 	
</div>
<ion-infinite-scroll *ngIf="checkinLen" (ionInfinite)="getMoreCheckins($event)">
	<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> 
</ion-content>