<ion-header>
  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="white-background">
  <ion-list no-lines>
    <ion-item>
      <h2>Social Accounts</h2>
    </ion-item>
    
    <div class="btn" *ngIf="!facebookActive">
      <button color="light" ion-button icon-left (click)="mergeFacebook()">
        <ion-icon class="social-button" ios="logo-facebook" md="logo-facebook"></ion-icon>
        Connect with Facebook
      </button>
    </div>
    <div class="btn" *ngIf="facebookActive">
      <button color="facebook" ion-button icon-left (click)="unlinkSocial('facebook.com')">
        <ion-icon class="social-button" ios="logo-facebook" md="logo-facebook"></ion-icon>
        Remove Facebook
      </button>      
    </div>

    <div class="btn" *ngIf="!twitterActive">
      <button color="light" item-right ion-button icon-left (click)="mergeTwitter()">
        <ion-icon class="social-button" ios="logo-twitter" md="logo-twitter"></ion-icon>
        Connect with Twitter
      </button>
    </div>
    <div class="btn" *ngIf="twitterActive">
      <button color="twitter" item-right ion-button icon-left (click)="unlinkSocial('twitter.com')">
        <ion-icon class="social-button" ios="logo-twitter" md="logo-twitter"></ion-icon>
        Remove Twitter
      </button>
    </div>    

    <div class="btn" *ngIf="!googleActive">
      <button color="light" item-right ion-button icon-left (click)="mergeGoogle()">
        <ion-icon class="social-button" ios="logo-google" md="logo-google"></ion-icon>
        Connect with Google
      </button>
    </div>
    <div class="btn" *ngIf="googleActive">
      <button color="google"  item-right ion-button icon-left (click)="unlinkSocial('google.com')">
        <ion-icon class="social-button" ios="logo-google" md="logo-google"></ion-icon>
        Remove Google
      </button>
    </div>

  </ion-list>
</ion-content>
