<ion-header>
  <ion-navbar color="primary" no-border-bottom>
		<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>Friends</ion-title>
    <ion-buttons right>
      <button *ngIf="mode!='checkin'" ion-button icon-only (click)="searchFriend()">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button *ngIf="mode=='checkin'" ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>      
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary">   
    <ion-segment [(ngModel)]="icons" color="white" *ngIf="mode!='checkin'">
      <ion-segment-button value="friends" icon-left>
        <ion-icon name="contacts"></ion-icon>
        Friends
      </ion-segment-button>
      <ion-segment-button value="requests" icon-left>
        <ion-icon id="notification-button" name="notifications" [color]="notificationColor">
          <ion-badge id="notifications-badge" color="danger">{{friendReq.length}}</ion-badge>
        </ion-icon>
        Requests
      </ion-segment-button>
    </ion-segment>
    <!--
    <ion-searchbar *ngIf="icons == 'friends' || icons == 'checkin'" (ionInput)="doSearchFriends($event)"
                    debounce="1000"
                    (ionClear)="clearSearch($event)"
                    placeholder="Search Friends">
    </ion-searchbar>
    -->
  </ion-toolbar>
</ion-header>
<ion-content class="white-background">
<div [ngSwitch]="icons">
  <ion-list *ngSwitchCase="'checkin'" no-lines>
      <ion-item *ngFor="let friend of userFriends">
        <ion-avatar item-left>
          <img *ngIf="friend.photo" [src]="friend.photo">
          <img *ngIf="!friend.photo" src="images/default-profile.png">
        </ion-avatar>
        <h2 item-left>
          {{friend.name}}
        </h2>
        <ion-checkbox item-right checked="false" [(ngModel)]="friend.checked"></ion-checkbox>
      </ion-item>
  </ion-list>  
  <ion-list *ngSwitchCase="'friends'">   
    <ion-item-sliding *ngFor="let friend of userFriends">
      <ion-item-options side="left">
        <button ion-button (click)="unfriend(friend.uid)" color="dark">
           <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
      <ion-item (click)="getUserProfile(friend.uid)">
        <ion-avatar item-left>
          <img *ngIf="friend.photo" [src]="friend.photo">
          <img *ngIf="!friend.photo" src="images/default-profile.png">
        </ion-avatar>
        <h2>
          {{friend.name}}
        </h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngSwitchCase="'requests'">
    <ion-item-sliding *ngFor="let friend of friendReq">
      <ion-item-options side="left">
        <button ion-button (click)="removeRequest(friend.uid)" color="dark">
           <ion-icon name="trash"></ion-icon>
          Remove
        </button>
        <button ion-button (click)="getUserProfile(friend.uid)" color="check">
           <ion-icon name="person"></ion-icon>
          Detail
        </button>        
      </ion-item-options>      
      <ion-item>
        <ion-avatar item-left>
          <img *ngIf="friend.photo" [src]="friend.photo">
          <img *ngIf="!friend.photo" src="images/default-profile.png">
        </ion-avatar>
        <h2>
          {{friend.name}}
        </h2>
        <p>{{friend.dateSent}}</p>     
        <button ion-button item-right icon-left (click)="addFriend(friend.uid)">
          <ion-icon name="person-add"></ion-icon>
          Add Friend
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="getUserProfile(friend.uid)" color="check">
           <ion-icon name="person"></ion-icon>
          Detail
        </button>        
      </ion-item-options>        
    </ion-item-sliding>
  </ion-list>  
</div>
</ion-content>
<ion-footer *ngIf="mode=='checkin'">
  <ion-toolbar>
    <ion-segment>
     <button full ion-button (click)="setCheckinFriends()">DONE</button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>