<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Popular Beers</ion-title>
  </ion-navbar>
  <ion-toolbar class="sub-header" color="light">
    <ion-title>{{sing.geoCity}}, {{sing.geoState}}</ion-title>
  </ion-toolbar>  
</ion-header>
<ion-content class="white-background">
  <ion-item *ngFor="let beer of beers | async" (click)="getBeerActions(beer)">
    <ion-thumbnail item-left>
      <img *ngIf="beer.img" [src]="beer.img">
    </ion-thumbnail>
    <h2>{{beer.name}}</h2>
    <p>{{beer.brewery}}</p>
    <p>{{beer.style}}</p>
    <p>Checked in {{beer.checkinCount * -1}}</p>
    <ion-icon item-right name="more"></ion-icon>  
  </ion-item>
</ion-content>