<ion-header>
  <ion-navbar color="primary">
    <ion-title>Brewery</ion-title>	
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="shareFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
			<button ion-fab (click)="save()"><ion-icon name="heart"></ion-icon></button>
			<button ion-fab (click)="addBeer()"><ion-icon name="beer"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>	
	<ion-grid class="background-home" [ngStyle]="getBackgroundImg(locationPhoto)">
		<ion-row>
			<ion-col>
			  <div class="loc-area">
			    <div>
				    <p id="header">{{brewery?.brewery.name}}</p>
				    <p id="loc-rating" *ngIf="brewery.brewery.images.icon!=null">
				        <img [src]="brewery?.brewery.images.icon" />
				    </p>
						<p id="brewery-type">
              {{brewery?.locationTypeDisplay}}
						</p>
				    <p id="loc-rating" [hidden]="!locationRating">
				      <rating [(ngModel)]="locationRating" readOnly="true" max="5"></rating>
				    </p>
				    <p id="ptype">
				      <span>{{brewery?.locationTypeDisplay}}</span>
              <span *ngIf="brewery.brewery.established!=null">&#8226; Est. {{brewery?.brewery.established}}</span>
              <span *ngIf="brewery.openToPublic">                      
			              <span *ngIf="brewery.openToPublic == 'Y'">&#8226; Open to Public</span>
			              <span *ngIf="brewery.openToPublic == 'N'">&#8226; Not Open to Public</span>
              </span>
				    </p>
						<p class="hours" *ngIf="!locationOpen && locationHours">
							Closed. {{locationHours}}
						</p>
						<p class="hours" *ngIf="locationOpen && locationHours">
							Open from {{locationHours}}
						</p>												
			    </div>
			  </div>
			</ion-col>
		</ion-row>
    </ion-grid>
    <ion-grid class="square">
		<ion-row>
		  <ion-col class="loc-btns border-right" color="light" full ion-button (click)='callIt(location?.international_phone_number)'>
		    <div> 
			    <ion-icon name="call"></ion-icon>
			    <label>Call</label>
		    </div>
		  </ion-col>		  
		  <ion-col class="loc-btns border-right" color="light" full ion-button (click)='viewReviews()'>
		    <div> 
			    <ion-icon name="heart"></ion-icon>
			    <label>Review</label>
		    </div>              
		  </ion-col>
		  <ion-col class="loc-btns border-right" color="light" full ion-button (click)='showDrinkMenu()'>
		    <div> 
			    <ion-icon name="beer"></ion-icon>
			    <label>List</label>
		    </div>              
		  </ion-col>
		  <ion-col class="loc-btns" color="light" full ion-button (click)='viewMore()'>	  	
		    <div> 
			    <ion-icon name="paper"></ion-icon>
			    <label>Detail</label>
		    </div>              
		  </ion-col>		  		  
		</ion-row>
		<ion-row>
		  <ion-col class="chk-btn" full ion-button icon-left color="check" (click)='checkIn()'>
		    <ion-icon name="checkmark"></ion-icon>
		  	CHECK-IN
		  </ion-col>
		</ion-row>
  </ion-grid>
  <div id="menu-list" *ngIf="breweryBeers.length">
    <ion-card>
      <ion-item>
        <p>Beer List</p>
      </ion-item>
			<div *ngFor="let beer of breweryBeers; let i=index" (click)="getBeerDetail(beer)">
				<ion-item *ngIf="i < 5">
					<ion-thumbnail item-left>
						<img *ngIf="beer.labels.icon!='zzz'" [src]="beer.labels.medium" />
						<img *ngIf="beer.labels.icon==='zzz'" src="images/no-image.jpg" />
					</ion-thumbnail>		      	
				  <h2>{{beer.nameDisplay}}</h2>
					<p>{{beer?.style.shortName}}</p>
					<ion-icon name="arrow-forward" item-right></ion-icon>
				</ion-item>
			</div>
			<button *ngIf="breweryBeers.length > 5" ion-button full (click)="showDrinkMenu()">Show More</button>			   	
    </ion-card>
  </div>
	<div id="no-beer" *ngIf="!breweryBeers.length">
    <ion-card>
      <div align="center">
        <h3>Uh Oh!</h3>
				<p>No beers have been submitted. Help us grow by adding one.</p>
				<div>
          <button ion-button (click)="addBeer()">Add Beer</button>
				</div>
      </div>
    </ion-card>
	</div>
  <div>    
	  <ion-card>
	    <ion-item>
          <p>
            {{brewery?.streetAddress}} 
            {{brewery?.locality}}, {{brewery?.region}} 
            {{brewery?.postalCode}} {{brewery?.countryIsoCode}}
          </p>
	    </ion-item>
        <img [src]="getGoogleStaticMap()" (click)="goToNavApp()" />       
		  <ion-item>
				<button ion-button icon-left clear item-left (click)='viewMap()'>
		      <ion-icon name="expand"></ion-icon>
		      Zoom Out          
				</button>				
		    <button ion-button icon-left clear item-right (click)="goToNavApp()">
		      <ion-icon name="navigate"></ion-icon>
		      Start
		    </button>
		  </ion-item>
	  </ion-card>
   </div>
	<div *ngIf="locationPhotosArray.length > 1">
	  <ion-card>
        <ion-item>
          <p>Brewery Photos</p>          
        </ion-item>
	    <span *ngFor="let photo of locationPhotosArray">
   			<img *ngIf="photo.url" [src]="photo.url">
	    </span>
	    <div align="center">
	    	<button *ngIf="!showPhotos" ion-button icon-left (click)="showAllPhotos()" item-right>
	    	  <ion-icon name="images"></ion-icon>
	    	  Show {{locationPhotosArray.length - 1}} Photos
	    	</button>
    	</div>
	  </ion-card>
	</div>
	<div *ngIf="checkinLen">
		<div class="card-head">
			<p><ion-icon name="people"></ion-icon>&nbsp;Recent Check-Ins</p>
		</div>
		<div *ngFor="let check of checkins | async">
			 <checkin [checkin]="check" page="brewery" [id]="brewery.id"></checkin>
		</div>
		<ion-infinite-scroll (ionInfinite)="getMoreCheckins($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll> 		
	</div>
</ion-content>
