<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="isLookup">{{displayName}}'s Favorites</ion-title>
    <ion-title *ngIf="!isLookup">Favorites</ion-title>    
  </ion-navbar>
  <ion-toolbar no-border-top color="primary"> 
    <ion-segment [(ngModel)]="choice" color="white" class="toolbar">
      <ion-segment-button icon-left role="button" color="primary" value="beerlist">
        <ion-icon name="beer"></ion-icon>Beer List
      </ion-segment-button>   
      <ion-segment-button icon-left role="button" color="primary" value="locationlist" (click)="getLocFavs()">
        <ion-icon name="compass"></ion-icon>Locations
      </ion-segment-button>        
    </ion-segment>
  </ion-toolbar>  
</ion-header>
<ion-content class="white-background">
<div [ngSwitch]="choice">
  <ion-list *ngSwitchCase="'beerlist'">
    <ion-item-sliding *ngFor="let beer of favBeers | async" (click) = "getBeerActions(beer)">
      <ion-item-options side="left">
        <button ion-button (click)="removeFavoriteBeer(beer)" color="dark">
           <ion-icon name="trash"></ion-icon>
          Remove
        </button>      
      </ion-item-options>       
      <ion-item>
        <ion-thumbnail item-left>
          <img *ngIf="beer.labels" [src]="beer.labels.icon" />
          <img *ngIf="!beer.labels && beer.breweries && beer.breweries.length && beer.breweries[0].images" [src]="beer.breweries[0].images.icon">
        </ion-thumbnail>
        <h2>{{ beer.name }}</h2>
        <p>{{ beer.breweries[0].name}}</p>
        <p>{{ beer.style.shortName }}</p>
        <ion-icon name="more" item-right></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngSwitchCase="'locationlist'">
    <ion-item-sliding *ngFor="let location of favLocations | async">
      <ion-item-options side="left">
        <button ion-button (click)="removeFavoriteLocation(location)" color="dark">
           <ion-icon name="trash"></ion-icon>
          Remove
        </button>      
      </ion-item-options>       
      <ion-item text-wrap (click)="getLocation(location)">        
        <ion-thumbnail item-left>
          <img *ngIf="location.isBrewery=='N' && location.photo" [src]="location.photo" />
          <img *ngIf="location.isBrewery=='Y' && location.breweryIMG" [src]="location.breweryIMG" />
        </ion-thumbnail>
        <h2>{{ location.name }}</h2>
        <p>{{ location.placeType }}</p>
        <p>{{ location.vicinity }}</p>
        <ion-icon name="more" item-right></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>  
</div>

</ion-content>
