page-popular-locations {

  ul {
    padding: 0px;
    margin: 5px 0px;

    &.rating li {
      padding: 2px 2px !important;
      background: none;
      color: orange;

      ion-icon {
        font-size: 14px;
      }
    }
  }
    
  .white-background {
      background-color:#ffffff;
  }

  .sub-header {
    min-height: 40px !important;
    
    .toolbar-title {
      font-size: 1.5rem !important;
    }
  }
}
