page-popular-locations {
  .white-background {
      background-color:#ffffff;
  }

  .sub-header {
    min-height: 40px !important;
    
    .toolbar-title {
      font-size: 1.5rem !important;
    }
  }
}
