<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Popular Locations</ion-title>
  </ion-navbar>
  <ion-toolbar class="sub-header" color="light">
    <ion-title>{{sing.getSelectCity()}}, {{sing.getSelectState()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="white-background">
  <ion-item *ngFor="let location of locations | async" (click)="getLocation(location)">
    <ion-thumbnail item-left>
      <img *ngIf="placeIMGS[location.$key]" [src]='placeIMGS[location.$key]'>
    </ion-thumbnail>
    <h2>{{location.name}}</h2>
    <p *ngIf="location.rating"><rating [(ngModel)]="location.rating" readOnly="true" max="5"></rating></p>
    <p>{{location.address}}</p>
    <p>{{location.city}}, {{location.state}} &#8226; {{distance[location.$key]}} miles</p>
    <p>{{location.placeType}}</p>
    <p>Number Check-ins: <b>{{location.checkinCount * -1}}</b></p>
    <ion-icon name="arrow-forward" item-right></ion-icon> 
  </ion-item>
</ion-content>
