<ion-header>
  <ion-navbar color="primary">
    <ion-toolbar>
    	<ion-searchbar (ionInput)="doSearchBeer($event)"
                     debounce="500"
                     spellcheck="true"
                     (ionClear)="clearSearch($event)"
                     placeholder="Enter Beer Name">
      </ion-searchbar>
    	<ion-buttons end>
	      <button id="filter-button" ion-button icon-only (click)="showBeerFilter()">
	        <ion-icon name="options"></ion-icon>
	      </button>
    	</ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content class="white-background">
	<div *ngIf="showLoader" align="center">
		<ion-spinner></ion-spinner>
	</div>
  <div id="sorry-area" *ngIf="showNoResults && !showLoader" align="center">
      <p>
         We didn't find any beers matching 
      </p>
      <h2>"{{qSearchBeer}}"</h2>
      <p>
        Please check your spelling or add a beer.
      </p>
      <div>
        <button ion-button (click)="addBeer()">Add New Beer</button>
      </div>
  </div>
  <ion-item *ngIf="totalResults > 0">
      <p>Didn't find your beer?</p>  
      <button ion-button item-right round (click)="addBeer()">Add New Beer</button>
  </ion-item>
  <ion-list *ngIf="totalResults > 0">
    <button ion-item *ngFor="let beer of beers" (click) = "getBeerDetail(beer.id)">
      <ion-thumbnail item-left>
        <img *ngIf="beer.labels" [src]="beer.labels.icon">
        <img *ngIf="!beer.labels && beer.breweries && beer.breweries.length && beer.breweries[0].images" [src]="beer.breweries[0].images.icon">
        <img *ngIf="!beer.labels && beer.breweries &&  beer.breweries.length && beer.breweries[0].images == null" src="images/no-image.jpg">
      </ion-thumbnail>
      <h2>{{ beer.name }}</h2>
      <p *ngIf="beer.breweries">{{ beer.breweries[0].name}}</p>
      <p *ngIf="beer.style">{{ beer.style.shortName}}</p>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item>
      <ion-infinite-scroll *ngIf="numberOfPages > 1" (ionInfinite)="getMoreBeers($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </button>    
  </ion-list>
</ion-content>
